<div class="ten wide column">
    <h1 class="ui header">
        <i class="circular eye icon"></i>
        <div class="content">
            {{ 'bitbag_sylius_blacklist_plugin.ui.fraud_suspicions'|trans }}
            <div class="sub header">
                {{ 'bitbag_sylius_blacklist_plugin.ui.see_details_fraud_suspicion'|trans }}
            </div>
        </div>
    </h1>
</div>