<div class="card mb-3">
    <div class="card-header">
        <h3 class="card-title">{{ 'sylius.ui.order'|trans }}</h3>
    </div>
    <div class="card-body">
        {% if fraudSuspicion.order != null %}
            {% if fraudSuspicion.order.number != null %}
                <a href="{{ path('sylius_admin_order_show', {'id': fraudSuspicion.order.id}) }}">
                    {{ 'bitbag_sylius_blacklist_plugin.ui.see_more_info_about_order'|trans ~ ' #' ~ fraudSuspicion.order.number }}
                </a>
            {% endif %}
        {% else %}
            <span>{{ 'bitbag_sylius_blacklist_plugin.ui.no_related_order'|trans }}</span>
        {% endif %}
    </div>
</div>

