{% extends '@SyliusAdmin/layout.html.twig' %}

{% set fraudSuspicion = resource %}

{% block content %}
    {% include '@BitBagSyliusBlacklistPlugin/FraudSuspicion/Admin/Show/_header.html.twig' %}

    <div class="ui divider hidden"></div>

    <div class="ui grid">
        <div class="sixteen wide mobile eight wide computer column">
            {% include '@BitBagSyliusBlacklistPlugin/FraudSuspicion/Admin/Show/_customer.html.twig' with {'fraudSuspicion': fraudSuspicion} %}
        </div>
        <div class="sixteen wide mobile eight wide computer column">
            {% include '@BitBagSyliusBlacklistPlugin/FraudSuspicion/Admin/Show/_order.html.twig' with {'fraudSuspicion': fraudSuspicion} %}
        </div>
        <div class="sixteen wide mobile sixteen wide computer column">
            {% include '@BitBagSyliusBlacklistPlugin/FraudSuspicion/Admin/Show/_details.html.twig' with {'fraudSuspicion': fraudSuspicion} %}
        </div>
    </div>
{% endblock %}

