<h4 class="ui top attached large header">{{ 'sylius.ui.customer'|trans }}</h4>
<div class="ui attached segment">
    <table class="ui very basic celled table">
        <tbody>
        <tr>
            <td>
                {% if fraudSuspicion.customer != null %}
                    <i class="circular user icon"></i>
                    <a href="{{ path('sylius_admin_customer_show', {'id': fraudSuspicion.customer.id}) }}">
                        {{ fraudSuspicion.customer }}
                    </a>
                {% else %}
                    <span>{{ 'bitbag_sylius_blacklist_plugin.ui.no_related_customer'|trans }}</span>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
</div>